body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#div-parent {
    width: 100%;
    height: 200px;
    border: 5px solid black

}

#div-parent2 {
    width: 100%;
    height: 200px;
    border: 5px dotted black
}

#sdiv {
    background-color: bisque;
    width: 90%;
    height: 90%;
    padding: 0px;
    box-shadow:5px 10px black;
    align-content: center;
}

#third-divs {
    border: 5px solid black;
}

#Hello-Friends {
    text-align: center;
}